.mask {
    width: 80vw;
    margin-bottom: 4px;
    justify-content: center;
}

body {

}

.label {
    display: flex;
    font-size: large;
    font-weight: bold;
    justify-content: center;
}

.label p {
    width: fit-content;
}

img {
    height: inherit;
    width: inherit;
}

.raw {
    width: 80vw;
    margin-bottom: 4px;
    justify-content: center;
}

h1 {
    width: fit-content;
    margin: 0 auto 0 auto;
}

.video-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto 0 auto;
}